:host {
  display: block;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px 32px;
}

@media (max-height: 500px) {
  :host {
    padding-bottom: 12px;
  }
}

@media (max-width: 430px) {
  :host {
    padding: 0 14px 24px;
  }
}
