.srs-dialog {

    .all-actions {
        margin-top: 1rem;

        .all-action-title {
            font-weight: bold;
        }

        & button {
            margin-left: 1rem;
        }
    }

    .progress-category {

        .progress-group {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            margin-bottom: 2rem;
        }
    }
}

::ng-deep .mat-dialog-container {
    width: 600px;
    padding: 15px !important;
    overflow-x: hidden;
    overflow-y: hidden;
}