<div class="srs-dialog">
    <div matDialogContent>
        <mat-tab-group mat-align-tabs="center" animationDuration="0ms" color="accent" [disablePagination]="true" dynamicHeight>
            <mat-tab label="Progress">

            </mat-tab>

            <mat-tab label="Settings">

            </mat-tab>
        </mat-tab-group>
    </div>
    <div mat-dialog-actions align="end">
        <button
            mat-button
            type="submit"
            color="accent"
            (click)="close()"
        >Close</button>
    </div>
</div>
