<div class="srs-dialog">
    <div matDialogContent>
        <mat-tab-group mat-align-tabs="center" animationDuration="0ms" color="accent" [disablePagination]="true" dynamicHeight>
            <mat-tab label="Progress">                

                <div *ngFor="let category of progressCategories | keyvalue" class="progress-category">
                    <h2>{{ category.key }}</h2>
                  
                    <div *ngFor="let group of category.value" class="progress-group-wrapper">
                      <h3>{{ group.title }}</h3>
                  
                      <div class="progress-group">
                        <div *ngFor="let item of progressItemsFromConjugationGroup(group)" class="progress-item">
                          <span>{{ item.form }}, {{ item.wordType | wordtypeReadable }}</span>
                        </div>
                      </div>
                    </div>
                  </div>

            </mat-tab>

            <mat-tab label="Settings">

            </mat-tab>
        </mat-tab-group>
    </div>
    <div mat-dialog-actions align="end">
        <button
            mat-button
            type="submit"
            color="accent"
            (click)="close()"
        >Close</button>
    </div>
</div>
