:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.exercise {
    font-size: 150%;
    padding-top: 100px;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;

    .mat-form-field {
        width: 100%;
        max-width: 500px;
    }

    .furigana-debug {
        position: fixed;
        right: 0px;
        bottom: 0px;
        background-color: deeppink;
        text-align: left;
        min-width: 200px;
        font-size: medium;
        padding: 1rem;
    }

    .correct-answer {

        .mat-form-field,
        .mat-hint {
            color: forestgreen;
        }

        .mat-form-field-label {
            color: forestgreen;
        }

        .mat-form-field-outline-thick {
            color: forestgreen !important;
        }
    }

    .incorrect-answer {

        .mat-form-field,
        .mat-hint {
            color: #c62828;
        }

        .mat-form-field-label {
            color: #c62828;
        }

        .mat-form-field-outline-thick {
            color: #c62828 !important;
        }

        .solution-label {
            margin-right: 1rem;
            font-weight: bold;
        }
    }
}
