:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.exercise {
    font-size: 150%;
    margin-top: 50px;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;

    .english {
        font-size: small;
    }

    .conjugation-form-title {
        font-weight: bold;
    }

    .interaction {
        position: fixed;
        right: 0px;
        left: 0px;
        bottom: 0px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .settings-button {
        position: fixed;
        right: 0px;
        top: 0px;
        padding-top: 1rem;
        padding-right: 1rem;
    }

    .srs-button {
        position: fixed;
        left: 0px;
        top: 0px;
        padding-top: 1rem;
        padding-left: 1rem;
    }

    .correction {
        color: #c62828;

        .conjugation-rule {
            color: #333;
            font-size: smaller;

            .headline {
                font-weight: bold;
            }

            .altered-part {
                text-decoration: line-through;
            }

            .operation {
                margin-left: .75rem;
                margin-right: .75rem;
            }

            .unaltered,
            .alteration {
                font-weight: bold;
                color: #008cd5;
            }
        }
    }

    .mat-form-field {
        width: 100%;
        max-width: 500px;
    }

    .correct-answer {

        .mat-form-field,
        .mat-hint {
            color: forestgreen;
        }

        .mat-form-field-label {
            color: forestgreen;
        }

        .mat-form-field-outline-thick {
            color: forestgreen !important;
        }
    }

    .incorrect-answer {

        .mat-form-field,
        .mat-hint {
            color: #c62828;
        }

        .mat-form-field-label {
            color: #c62828;
        }

        .mat-form-field-outline-thick {
            color: #c62828 !important;
        }
    }
}
