<div class="exercise">
    <div *ngIf="currentExercise">
        <h2>
            <ruby>
                {{ currentExercise.vocabulary | dropKana }}
                <rt>{{currentExercise.vocabulary | furigana}}</rt>
                {{ currentExercise.vocabulary | dropKanji }}
            </ruby>
        </h2>
        <p>{{ currentExercise.vocabulary.kanji }}</p>
        <p>{{ currentExercise.vocabulary.furigana }}</p>
        <p>{{ currentExercise.vocabulary.english }}</p>
        <h6>{{ currentExercise.practiceItem.conjugation.getTitle() }}</h6>
    </div>

    <div>
        <form [formGroup]="formGroup">
            <mat-form-field hideRequiredMarker>
                <mat-label>答え</mat-label>
                <input
                    #answerInput
                    matInput
                    type="text"
                    [formControl]="answerFormControl"
                >
                <mat-error *ngIf="answerFormControl.hasError('required'); else invalidAnswerError">
                    Please provide an answer
                </mat-error>
                <ng-template #invalidAnswerError>
                    <mat-error *ngIf="answerFormControl.hasError('invalidAnswer')">
                        {{ answerFormControl.getError('invalidAnswer').message }}
                    </mat-error>
                </ng-template>
            </mat-form-field>
            <button mat-icon-button color="primary" [disabled]="formGroup.invalid" (click)="checkAnswer()">
                <mat-icon>send</mat-icon>
            </button>
        </form>
    </div>
</div>

