.srs-progress-item {

    background: #f0f0f0;
    border: 1px solid #ccc;

    .content {
        padding: 8px;

        div.item-text {

            position: relative;
            padding-left: 2.5rem;
    
            .form-text {
                font-weight: 500;
            }
    
            .current-streak {
                position: absolute;
                left: 0px;
                top: 1rem;
                font-size: larger;
                font-weight: bold;
        
                &.success-streak {
                    color: rgb(0, 183, 255);
                }
        
                &.failure-streak {
                    color: rgb(255, 0, 0);
                }

                &.no-streak {
                    color: rgb(128, 128, 128);
                }
            }
        }
    
        .last-review-timestamp {
            padding-top: 8px;
            font-size: x-small;
            text-align: right;
        }
    }
}
