<div class="srs-progress-item">
    <ng-container *ngIf="progressItem">
        <mat-progress-bar mode="determinate" value="{{ srsState.getSuccessRate() }}" color="primary"></mat-progress-bar>
        <div class="content">
            <div class="item-text">
                <div
                    class="current-streak"
                    [ngClass]="{
                        'success-streak': srsState.currentStreak > 0,
                        'failure-streak': srsState.currentStreak < 0,
                        'no-streak': srsState.currentStreak === 0
                    }">
                    {{ srsState.getCurrentStreak() }}
                </div>
                <div class="form-text">{{ progressItem.form }}</div>
                <div>{{ progressItem.wordType | wordtypeReadable }}</div>
                <div class="last-review-timestamp">
                    <ng-container *ngIf="srsState.lastReview; else notYetPracticed">
                        <span>Latest: {{ srsState.lastReview | date:'short' }}</span>
                    </ng-container>
                    <ng-template #notYetPracticed>
                        <span>Not yet practiced</span>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-container>
</div>
