<div class="settings-dialog">
    <div matDialogContent>
        <mat-tab-group mat-align-tabs="center" animationDuration="0ms" color="accent" [disablePagination]="true" dynamicHeight>
            <mat-tab label="Verbs">
                <div class="all-action">
                    <span class="all-action-title">All:</span>
                    <button mat-button color="accent" (click)="setAllVerbConjugations(true)">On</button>
                    <button mat-button color="accent" (click)="setAllVerbConjugations(false)">Off</button>
                </div>
                <div *ngFor="let group of verbConjugationGroups" class="conjugation-group">
                    <div class="group-title">
                        <span>{{ group.title }}</span>
                    </div>
                    <div>
                        <mat-slide-toggle
                            *ngFor="let item of group.items"
                            class="conjugation-item-toggle"
                            [(ngModel)]="item.checked"
                        >
                            {{ item.conjugation.getSettingsTitle() }}
                        </mat-slide-toggle>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Adjectives">
                <div class="all-actions">
                    <span class="all-action-title">All:</span>
                    <button mat-button color="accent" (click)="setAllAdjectiveConjugations(true)">On</button>
                    <button mat-button color="accent" (click)="setAllAdjectiveConjugations(false)">Off</button>
                </div>
                <div *ngFor="let group of adjectiveConjugationGroups" class="conjugation-group">
                    <div class="group-title">
                        <span>{{ group.title }}</span>
                    </div>
                    <div>
                        <mat-slide-toggle
                            *ngFor="let item of group.items"
                            class="conjugation-item-toggle"
                            [(ngModel)]="item.checked"
                        >
                            {{ item.conjugation.getSettingsTitle() }}
                        </mat-slide-toggle>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Vocabulary">
                <div class="vocabulary">
                    <div class="jlpt-title">JLPT Levels</div>
                    <div *ngFor="let level of jlptItems" class="jlpt-level">
                        <mat-slide-toggle
                            [(ngModel)]="level.checked"
                        >{{ level.title }}</mat-slide-toggle>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div mat-dialog-actions align="end">
        <button
            mat-button
            type="submit"
            color="accent"
            (click)="save()"
        >Save</button>
    </div>
</div>
